{% load static %}


<footer class="footer-wrapper footer-layout4" data-bg-src="{% static 'assets/img/footer/footer-bg-3-784.jpg' %}" >
    <div class="container-xl">
      <div class="widget-area">
        <div class="row gx-60">
          <div class="col-lg-4">
            <div class="widget footer-widget">
              <div class="footer-about" data-bg-src="{% static 'assets/img/shape/about-shape-1-1.png' %}" >
                <div class="footer-about-logo"><a href=""> <img src="{% static 'assets/img/foodforless.png' %}" alt="Foodano">
                </a></div>
                <p class="footer-about-text">Excepteur sint occaecat cup nilesm li unt mollit an rem set dolo liem ame a adipiscinliems elit sed inci.</p>
                <div class="footer-info"><i class="fas fa-phone-alt"></i><a href="tel:+387643932728">+387643932728</a></div>
                <div class="footer-info"><i class="fas fa-map-marker-alt"></i> Harbour House Purewell, Christchurch, England</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="widget widget_nav_menu footer-widget">
              <h3 class="widget_title">Useful Links</h3>
              <div class="menu-all-pages-container footer-links">
                <ul class="menu">
                  <li><a href="#">Farm & Family</a></li>
                  <li><a href="#">Our Butchery</a></li>
                  <li><a href="#">Farm Shops</a></li>
                  <li><a href="#">Dartmoor Inn</a></li>
                  <li><a href="#">Market Garden</a></li>
                  <li><a href="#">Farm & Family</a></li>
                  <li><a href="#">Our Butchery</a></li>
                  <li><a href="#">Farm Shops</a></li>
                  <li><a href="#">Dartmoor Inn</a></li>
                  <li><a href="#">Market Garden</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="widget footer-widget">
              <h4 class="widget_title">Subscribe Newsletter</h4>
              <form class="footer-newsletter">
                <p class="form-text">Enter Your email and get recent news and updates</p><input class="form-control" type="email" placeholder="Your Email Address" required=""><button type="submit" class="vs-btn style4"><i class="fas fa-envelope"></i>Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-area" data-bg-src="{% static 'assets/img/shape/copyrigh-bg-1-145.png' %}" >
      <div class="container">
        <div class="row justify-content-center gy-3 justify-content-lg-between align-items-center">
          <div class="col-lg-auto text-center text-lg-start">
       
              <div class="copyright">
                  <p class="mb-0 link-inherit">
                      Copyright &copy; <span id="currentYear"></span>
                      <a href="https://www.yummytummy.co.ke" target="_blank">Yummy Tummy</a> - All Rights Reserved
                  </p>
              </div>
        
          
       
            
          </div>
          <div class="col-auto d-none d-md-block"><img src="{% static 'assets/img/footer/card-9840.png' %}"  alt="card image"></div>
        </div>
      </div>
    </div>
  </footer>
  <a href="#" class="scrollToTop"><i class="far fa-angle-up"></i></a>


